@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

:root {
  --color-gray-100: #EDF2F7;
  --color-gray-200: #E2E8F0;
  --color-gray-400: #A0AEC0;
  --color-gray-600: #4A5568;
  --color-gray-700: #2D3748;

  --color-white: #FFFFFF;
  --color-black: #000000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: var(--color-gray-100);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-between {
  justify-content: space-between;
}